.content-inside{
    padding: 1.25rem;
    padding-bottom: 1.25rem;
    
}

.bottom-section{
    padding-top: 1.25rem;
    padding-bottom: 3.75rem;
    margin-left: auto;
    margin-right: auto;
}

.block-center{
    display: flex;
    justify-content: center;
}

.aboutMe{
    display: flex;
}
.content{
    min-height: 100%;   
    background-color:whitesmoke;
    padding-left: 0.938rem;
    margin-top: 0.625rem;
}

.responsive{
    max-width: 100%;
    height: auto;
}

.margin-top{
    margin-top: 1.25rem;
}

h1{
    color: #36454f;
}

p{
    font-family: 'Roboto', sans-serif;
    margin-left: 0.625rem;
}