.content-inside{
    padding: 20px;
    padding-bottom: 50px;
    
}

.aboutMe{
    display: flex;
}
.content{
    min-height: 100%;   
    background-color:whitesmoke;
    padding-left: 15px;
    margin-top: 10px;
    
}

p{
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}